/* styles.css */

body {
  background-image: url('background-image.jpg');
  background-size: 100%;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;
}

img {
  width: 300px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

h1 {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
  color: #000;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

h2, h3 {
  color: #f2f2f2;
}

p1 {
  text-align: center;
  padding: 10px;
  color: #000;
}

.funt {
  color: red;
  font-size: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.cyber-funt {
  font-family: 'VT323', monospace;
  font-size: 20px;
  color: red;
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li, p, a {
  color: #00ff20;
  background-color: rgba(39, 39, 39, 0.7);
}

header {
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

section {
  padding: 50px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

section:hover {
  transform: translateY(-5px);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, textarea {
  margin-bottom: 10px;
  padding: 10px;
  width: 300px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
  color: #e0e0e0;
}

footer {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  color: #000;
}
